{% extends "base.html" %}


{% block content %}

<div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                
    

			   <!-- 文章列表 -->
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">文章列表</h2>
                        <div class="content">    
                                               
                            <hr class="divider" />
                            {% for article in  all_article %}
              
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">
                                <img class="img-responsive project-image" src="static/assets/images/projects/project-5.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="{{ article.get_absolute_url }}" target="_blank">{{ article.title }} <small style="float: right;">{{ article.update_time }}</small> </a></h3>
                                    <p>{{ article.content|safe }}</p>
                                    <!-- <p><a class="more-link" href="" target="_blank"><i class="fa fa-external-link"></i> Look more</a></p> -->
                                </div><!--//desc-->                          
                            </div><!--//item-->

                            {% endfor %}

                        </div><!--//content-->  
                    </div><!--//section-inner-->



                    <!-- 页码 -->
                    <nav aria-label="Page navigation" style="">
						  <ul class="pagination">

						    {{ pager_str|safe }}
	
						  </ul>
					</nav>



                </section><!--//section-->
                

            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                
                
                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">座右铭</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i></i>也许多少年后在某个地方<br/>
                              我将轻声叹息将往事回顾<br/>
                              一片树林里分出两条路<br/>
                              而我选择了人迹更少的一条<br/>
                              从此决定了我一生的道路<br/>
                            <br/>
                            —弗罗斯特</p>
                                </blockquote>                
                                <!-- <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p> -->                                                             
                            </div><!--//item-->
                            
                            <!-- <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p>  -->
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->                        


            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->





    {% endblock content %}